<br />
<br />
<br />
<div class="wrapper fadeInDown p-2">
  <div id="formContent">
    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="text"
        id="name"
        formControlName="name"
        class="fadeIn third mt-5"
        name="login"
        placeholder="name"
      />

      <br /><span *ngIf="form.controls['name'].touched">
        <span
          class="validator-span"
          *ngIf="form.controls['name']?.errors?.['required']"
        >
          This field is Required</span
        >
      </span>

      <input
        type="text"
        id="login"
        formControlName="username"
        class="fadeIn second"
        name="login"
        placeholder="username"
      />
      
      <!-- Validations Start -->
      <br /><span *ngIf="form.controls['username'].touched">
        <span
        class="validator-span"
        *ngIf="form.controls['username']?.errors?.['required']"
        >
        This field is Required</span
        >
        <span
        class="validator-span"
        *ngIf="form.controls['username']?.errors?.['minlength']"
        >
        Minimum length for password is 8 characters</span
        >
        <span
        class="validator-span"
        *ngIf="form.controls['username']?.errors?.['maxlength']"
        >
        Maximum Length is 20 characters</span
        >
      </span>
      <!-- Validations End -->
      <input
        type="text"
        id="login"
        formControlName="email"
        class="fadeIn second"
        name="login"
        placeholder="email"
      />
      <!-- Validations Start -->
      <br /><span *ngIf="form.controls['email'].touched">
        <span
          class="validator-span"
          *ngIf="form.controls['email']?.errors?.['email']"
        >
          Enter Valid Email</span
        >
        <span
          class="validator-span"
          *ngIf="form.controls['email']?.errors?.['required']"
        >
          This field is Required</span
        >
      </span>
      <!-- Validations End -->


      <input
        type="password"
        id="password"
        formControlName="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
      />

      <!-- Validations Start -->
      <br /><span *ngIf="form.controls['password'].touched">
        <span
        class="validator-span"
        *ngIf="form.controls['password']?.errors?.['required']"
        >
        This field is Required</span
        >
      </span>
      <!-- Validations End -->

      <input
        type="file"
        class="input mb-4 mt-3 ml-4 fadeIn third "
        (input)="photoUpload($event)"
      />
     

      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <label class="label">Already have an account?</label>
      <a
        class="underlineHover"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        Login</a
      ><br />
    </div>
  </div>
</div>
