.container {
  max-width: 600px;
  margin: 0 auto;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #343434;
}

.image-preview {
  text-align: center;
}

.image-preview img {

  border-radius: 8px;
  width: 200px;
  height: 200px;
}

.form-control-file {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.form-control {
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

.badge {
  margin-right: 5px;
}

.btn {
  border-radius: 8px;
}

.btn-primary {
  background-color: #3897f0;
  border: none;
}

.btn-secondary {
  background-color: #e0e0e0;
  border: none;
}

.btn-block {
  width: 100%;
}

.usersAdd {
  display: block;
  margin-left: 81%;
}

.search-bar {
  position: relative;
  width: 300px;
}

.search-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
.upload-img {
  font-weight: 1000;
  color: rgb(109, 105, 101);
}
