@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* admin-panel.component.css */
.admin-panel {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .grid-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for the sections */
    gap: 20px;
  }
  
  .stats-section {
    grid-column: 1 / span 2; /* Spans across both columns */
    display: flex;
    justify-content: center; /* Aligns content in the center */
    gap: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
  }
  
  .section {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  /* Centering the image container on the page */
.head-image-div {
    display: flex;
    justify-content: center; 
    align-items: center;     
    /* height: 100vh;            */
    background-color: black;
  }
  
  .head-image {
    /* max-width: 100%; */
    height: auto;    /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: rounded corners */
  }

  .heading{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    color: bisque;
  }
  
  .admin-section{
    grid-column: 1 / span 2; 
    /* display: flex; */
    justify-content: center; /* Aligns content in the center */
    gap: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
  }

  .admin-head{
    display: flex;
    justify-content: space-evenly;
  }

 