<div class="heading">
  <h1>Wheels</h1>
</div>
<div class="wheels-list">
  <div
    *ngFor="let wheel of wheelsData"
    class="wheel-item"
    [ngClass]="{
      unlocked: wheel.accessType === 1,
      locked: wheel.accessType !== 1
    }"
  >
    <div class="name-toggle">
      <h3>{{ wheel.wheelName }}</h3>
      <div class="toggle-container mb-3 mt-4">
        <label class="switch">
          <input
            type="checkbox"
            (change)="onToggle(wheel._id, wheel.accessType)"
            [checked]="wheel.accessType === 1 ? true : false"
          />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <p>{{ wheel.description }}</p>
    <span class="status">{{
      wheel.accessType === 1 ? "Unlocked" : "Locked"
    }}</span>
    <div class="p-2 action-btns">
      <button class="btn btn-secondary" (click)="updateWheel(wheel._id)">
        Update Wheel
      </button>
      <button class="btn btn-danger" (click)="deleteWheel(wheel._id)">Delete Wheel</button>
    </div>
  </div>
</div>
