
<div class="heading"><h1>Create Wheel</h1></div>


<div class="wheel-outer">
  <div class="big-wheel">
    <div class="big-sector" style="transform: rotate(0deg); z-index: 1">
      <img
        src="https://img.freepik.com/free-psd/kanzashi-japanese-hair-ornament-jewellery-isolated-transparent-background_191095-27064.jpg?size=626&ext=jpg"
      />
    </div>
    <div
      class="big-sector"
      style="background: #6e5555; transform: rotate(45deg); z-index: 2"
    >
      <img
        src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&w=600"
      />
    </div>
    <div
      class="big-sector"
      style="background: #e1b4b4; transform: rotate(90deg); z-index: 3"
    >
      <img
        src="https://img.freepik.com/free-psd/kanzashi-japanese-hair-ornament-jewellery-isolated-transparent-background_191095-27064.jpg?size=626&ext=jpg"
      />
    </div>
    <div
      class="big-sector"
      style="background: #6e5555; transform: rotate(135deg); z-index: 4"
    >
      <img
        src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&w=600"
      />
    </div>
    <div
      class="big-sector"
      style="background: #e1b4b4; transform: rotate(180deg); z-index: 5"
    >
      <img
        src="https://img.freepik.com/free-psd/kanzashi-japanese-hair-ornament-jewellery-isolated-transparent-background_191095-27064.jpg?size=626&ext=jpg"
      />
    </div>
    <div
      class="big-sector"
      style="background: #6e5555; transform: rotate(225deg); z-index: 6"
    >
      <img
        src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&w=600"
      />
    </div>
    <div
      class="big-sector"
      style="background: #e1b4b4; transform: rotate(270deg); z-index: 7"
    >
      <img
        src="https://img.freepik.com/free-psd/kanzashi-japanese-hair-ornament-jewellery-isolated-transparent-background_191095-27064.jpg?size=626&ext=jpg"
      />
    </div>
    <div
      class="big-sector"
      style="background: #6e5555; transform: rotate(315deg); z-index: 8"
    >
      <img
        src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&w=600"
      />
    </div>
  </div>

  <div class="small-wheel">
    <div
      class="small-sector"
      style="background: #e1b4b4; transform: rotate(0deg); z-index: 9"
    ></div>
    <div
      class="small-sector"
      style="background: #6e5555; transform: rotate(60deg); z-index: 10"
    ></div>
    <div
      class="small-sector"
      style="background: #e1b4b4; transform: rotate(120deg); z-index: 11"
    ></div>
    <div
      class="small-sector"
      style="background: #6e5555; transform: rotate(180deg); z-index: 12"
    ></div>
    <div
      class="small-sector"
      style="background: #e1b4b4; transform: rotate(240deg); z-index: 13"
    ></div>
    <div
      class="small-sector"
      style="background: #6e5555; transform: rotate(300deg); z-index: 14"
    ></div>
  </div>

  <div class="jackpot">
    <span>Jackpot</span>
  </div>



</div>
<div class="heading spin-wheel-btn">
  <button class="btn btn-secondary">Save Wheel</button>
</div>
<div class="inputs"></div>
